/*清除浮动*/
.cb{
	clear: both;
}
/*清除浮动*/

/*li标签清除样式*/
.clrli{
	list-style-type: none;
}
/*li标签清除样式*/

/*a标签清除样式*/
.clra,.clra:hover{
	text-decoration: none;
	color: #000;
}
/*a标签清除样式*/

/*左浮动*/
.fl{
	float: left;
}
/*左浮动*/

/*右浮动*/

.fr{
	float: right;
}
/*右浮动*/

/* 将a标签块状化 */
.dis_block{
	display: block;
}
/* 将a标签块状化 */

/* li标签设置同一行 */
.inline_li{
	display: inline;
}
/* li标签设置同一行 */

/*文字居中*/
.middle{
	text_align: center;
}
/*文字居中*/
/*13号字体*/
.text13{
	font-size: 13px;
}
/*13号字体*/
/*14号字体*/
.text14{
	font-size: 14px;
}
/*14号字体*/
/*15号字体*/
.text15{
	font-size: 15px;
}
/*15号字体*/
/*16号字体*/
.text16{
	font-size: 16px;
}
/*16号字体*/
/*17号字体*/
.text17{
	font-size: 17px;
}
/*17号字体*/
/*18号字体*/
.text18{
	font-size: 18px;
}
/*18号字体*/